*.class
*.log

# sbt specific
.cache/
.history/
.lib/
.exercism
dist/*
target
lib_managed/
src_managed/
project
project/boot/
project/plugins/project/
*/src/main/scala/.keep

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

.DS_Store
*/.DS_Store